<main>
    <div class="container container-custom" style="max-width: 70%">
        <div class="row g-5">
            <div class="col">
                <img src="./src/img/placeholder-05.jpg" class="img-fluid" />
                <p style="padding: 1rem 0rem">
                    Em nossos pacotes nos abrangemos os mais variados preços, para assim caber em seu bolso. E varias formas de locomoções como: avião, navio, trem, entre outros. E por ultimo reservamos pacotes com estadias em hotéis ou em casa, sempre visando a melhor experiência
                    possível em sua viajem dos sonhos
                </p>
            </div>
            <div class="col">
                <h2>Lugares</h2>
                <p>
                    Nos trabalhos com viagens ao redor do mundo todo, com diferentes tipos de transportes
                </p>
                <img src="./src/img/placeholder-06.jpg" class="img-fluid" />
            </div>
        </div>

        <div class="container container-custom">
            <h1>Está com dúvida para onde ir?</h1>
            <div class="row" style="justify-content: space-evenly">
                <div class="col-10">
                    <p>
                        Deixe nosso software decidir por você, clicando nesse botão na lateral. Você pode ver alguns países de exemplo abaixo também.
                    </p>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark btn-custom" onclick="showHideTripForms()">
            Lorem
          </button>
                </div>
            </div>
            <br />
            <div class="cards-container-container">
                <div class="row row-cols-3 row gy-4">
                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais1">
                                <h2>pais1</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais2">
                                <h2>pais2</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais3">
                                <h2>pais3</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais4">
                                <h2>pais4</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais5">
                                <h2>pais5</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais6">
                                <h2>pais6</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais7">
                                <h2>pais7</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais8">
                                <h2>pais8</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card-container">
                            <div class="card" id="pais9">
                                <h2>pais9</h2>
                                <p>saiba mais</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
    <div class="footer-image">
        <div class="container" style="color: white; font-family: 'Poppins', sans-serif; max-width: 70%">
            <div class="container">
                <div class="text-center" style="padding: 8rem 0rem 4rem 0rem">
                    <h1>Lorem ipsum dolor sit, amet consectetur</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="text-center">
                    <h3>Lorem ipsum dolor</h3>
                    <h5>0000-0000</h5>
                </div>
            </div>
        </div>
    </div>
</main>