{% extends './shared/__template.html.twig' %}

{% block extraHead %}
  <link href="{{BASE}}public/assets/css/cadastro.css" rel="stylesheet">
{% endblock %}

{% block title %}Cadastro{% endblock %}

{% block main %}

<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Cadastro</h3>

              <!-- Sign In Form -->
              <form method="post" action="user/save">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="name "id="name" placeholder="Seu nome completo" required>
                  <label for="name">Nome completo</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                  <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="(XX) XXXX-XXXX" required>
                  <label for="phoneNumber">Telefone</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Senha" required>
                  <label for="password">Senha</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" placeholder="Repedir senha" required>
                  <label for="repeatPassword">Repetir senha</label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Cadastrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}