{% extends './shared/__template.html.twig' %}

{% block extraHead %} <link rel="stylesheet" href="{{BASE}}public/assets/css/hero.css" />{% endblock %}

{% block title %}{% endblock %}

{% block main %}
    <div class="container container-custom" style="max-width: 90%"><!--div largura da pagina-->
        <h1>paises</h1><br>
        <div class="container">
            <div class="info-pais">
                <div class="row">
                    
                    <div class="col-2">
                        <div class="card-container">
                            <div class="card-lista" id="pais1">
                            </div>
                        </div>
                    </div>
                 

                    <div class="col-10">
                        <div class="row">
                            <div class="col-4 nome_pais">nome do pais</div>
                            <div class="col-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi expedita, odit architecto quas commodi atque! Eligendi in et nisi, dolorem ipsa nam repellat. Totam deleniti quae cupiditate quia id et?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem, doloribus officiis labore, quas inventore reprehenderit quo error incidunt officia aliquam iusto quia ipsam, odio sint molestiae. Error, et magni!
                            Debitis maiores est dolor dolores. Nesciunt aliquid nulla quas quaerat doloremque minima officiis veritatis atque sapiente, illum dolore ipsum corrupti enim quia nam adipisci sit. Quaerat officia incidunt corporis dolore!</div>
                            <div class="col-2"><button type="button" class="btn btn-outline-dark btn-custom" style="width: 20vh; ">Dark</button></div>
                        </div>
                    </div>    
                </div><!--row END-->
            </div>
                

            <div class="info-pais">
                <div class="row">
                    <div class="col-2">
                        <div class="card-container">
                            <div class="card-lista" id="pais1">
                            </div>
                        </div>
                    </div>
                 

                    <div class="col-10">
                        <div class="row">
                            <div class="col-4 nome_pais">nome do pais</div>
                            <div class="col-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi expedita, odit architecto quas commodi atque! Eligendi in et nisi, dolorem ipsa nam repellat. Totam deleniti quae cupiditate quia id et?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem, doloribus officiis labore, quas inventore reprehenderit quo error incidunt officia aliquam iusto quia ipsam, odio sint molestiae. Error, et magni!
                            Debitis maiores est dolor dolores. Nesciunt aliquid nulla quas quaerat doloremque minima officiis veritatis atque sapiente, illum dolore ipsum corrupti enim quia nam adipisci sit. Quaerat officia incidunt corporis dolore!</div>
                            <div class="col-2"><button type="button" class="btn btn-outline-dark btn-custom" style="width: 20vh; ">Dark</button></div>
                        </div>
                    </div>    
                </div><!--row END-->
            </div>    
                
   
   
   
   
   
   
   
   
   
   
    </div><!--div largura da pagina END-->
   
    


{% endblock %}

{% block extraJS %}{% endblock %}