{% extends './shared/__template.html.twig' %}

{% block extraHead %} <link rel="stylesheet" href="{{BASE}}public/assets/css/hero.css" />{% endblock %}

{% block title %}{% endblock %}

{% block main %}
    <div class="container container-custom" style="max-width: 90%"><!--div largura da pagina-->
     

         <h1>paises</h1><br>
           

        <div class="container">
            <div class="info_pais">
                <div class="row">
                    
                    <div class="col-2">
                        <img src="public/assets/css/bangkok1.jpg" class="img_card_pais" style="  height: 100%;" >
                    </div>
                 

                    <div class="col-8">
                            <h2>nome do pais</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores quae eum iure accusamus? Maxime ratione molestiae quidem ab beatae in fuga, quam, ducimus reiciendis quod quia illo iusto velit!</p>
                    </div>    
                    <div class="col-2" ><button type="button" class="btn btn-outline-dark btn-custom" style="width: 20vh; margin-top: 20%; " onclick="mostrar_cards('info1')">Dark</button>
                    </div>

                </div><!--row END-->
            </div> <!--card pais END-->
                
            <div class="container" id="cidades1" style="display:none;" > <!--container de todas as cidades-->
                <div class="container" > <!--container de uma cidade -->
                    <div class="info_cidade"> <!--div de uma cidade com seus cards de pacotes-->
                        <div class="row">
                            <div class="col-10">
                                <h2>nome do pais</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores quae eum iure accusamus? Maxime ratione molestiae quidem ab beatae in fuga, quam, ducimus reiciendis quod quia illo iusto velit!</p>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-dark btn-custom" style="width: 20vh; margin-top: 20%; " onclick="mostrar_cards('card_pacotes1')">Dark</button>
                            </div>
                        </div><!--row END-->

                        <!--container card-pacote -->
                        <div class="container"  style="max-width:95%; margin-top: 3%;" id="card_pacotes1" style="display:none;">
                            <div id="carouselExampleControls"  class="carousel" data-bs-ride="carousel">
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <div class="pacotes_lista">
                                            <div class="card_pacotes" style="width: 300px;">
                                                <img src="public/assets/css/bangkok1.jpg" class="card-img-top" style="border-radius:0;" >
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color:black;">Cidade do Cabo</h5>
                                                    <p class="card-text" style="color:black;">
                                                    <strong>passagem de ida e volta</strong> <br></p>
                                                    <p style="min-height:25px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                                    25 de novembro até 14 de dezembro </p>  <br>
                                                    <p>R$2500
                                                    </p>
                                                    <div class="d-flex justify-content-center"><a href="#" class="btn btn-dark" style="width:100%;">Go somewhere</a>
                                                    </div><!--div d-flex justify-content-center END-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="pacotes_lista">
                                            <div class="card_pacotes" style="width: 300px;">
                                                <img src="public/assets/css/bangkok1.jpg" class="card-img-top" style="border-radius:0;" >
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color:black;">Cidade do Cabo</h5>
                                                    <p class="card-text" style="color:black;">
                                                        <strong>passagem de ida e volta</strong> <br>
                                                    </p>
                                                    <p style="min-height:48px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                                        2 de abril até 5 de maio 
                                                    </p>  <br>
                                                    <p>R$2500</p>
                                                    <div class="d-flex justify-content-center"><a href="#" class="btn btn-dark" style="width:100%;">Go somewhere</a>
                                                    </div><!--div d-flex justify-content-center END-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="pacotes_lista">
                                            <div class="card_pacotes" style="width: 300px;">
                                                <img src="public/assets/css/bangkok1.jpg" class="card-img-top" style="border-radius:0;" >
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color:black;">Cidade do Cabo</h5>
                                                    <p class="card-text" style="color:black;">
                                                    <strong>passagem de ida e volta</strong> <br></p>
                                                    <p style="min-height:48px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                                    2 de abril até 5 de maio </p>  <br>
                                                    <p>R$2500
                                                    </p>
                                                    <div class="d-flex justify-content-center"><a href="#" class="btn btn-dark" style="width:100%;">Go somewhere</a>
                                                    </div><!--div d-flex justify-content-center END-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="pacotes_lista">
                                            <div class="card_pacotes" style="width: 300px;">
                                                <img src="public/assets/css/bangkok1.jpg" class="card-img-top" style="border-radius:0;" >
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color:black;">Cidade do Cabo</h5>
                                                    <p class="card-text" style="color:black;">
                                                    <strong>passagem de ida e volta</strong> <br></p>
                                                    <p style="min-height:48px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                                    2 de abril até 5 de maio </p>  <br>
                                                    <p>R$2500
                                                    </p>
                                                    <div class="d-flex justify-content-center"><a href="#" class="btn btn-dark" style="width:100%;">Go somewhere</a>
                                                    </div><!--div d-flex justify-content-center END-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="pacotes_lista">
                                            <div class="card_pacotes" style="width: 300px;">
                                                <img src="public/assets/css/bangkok1.jpg" class="card-img-top" style="border-radius:0;" >
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color:black;">Cidade do Cabo</h5>
                                                    <p class="card-text" style="color:black;">
                                                    <strong>passagem de ida e volta</strong> <br></p>
                                                    <p style="min-height:48px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                                    2 de abril até 5 de maio </p>  <br>
                                                    <p>R$2500
                                                    </p>
                                                    <div class="d-flex justify-content-center"><a href="#" class="btn btn-dark" style="width:100%;">Go somewhere</a>
                                                    </div><!--div d-flex justify-content-center END-->
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>

                                    <div class="carousel-item">
                                            <div class="pacotes_lista">
                                                <div class="card_pacotes" style="width: 300px;">
                                                    <img src="public/assets/css/bangkok1.jpg" class="card-img-top" style="border-radius:0;" >
                                                    <div class="card-body">
                                                        <h5 class="card-title" style="color:black;">Cidade do Cabo</h5>
                                                        <p class="card-text" style="color:black;">
                                                        <strong>passagem de ida e volta</strong> <br></p>
                                                        <p style="min-height:48px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>
                                                        10 de dezembro até 20 de novembro </p>  <br>
                                                        <p>R$2500
                                                        </p>
                                                        <div class="d-flex justify-content-center"><a href="#" class="btn btn-dark" style="width:100%;">Go somewhere</a>
                                                        </div><!--div d-flex justify-content-center END-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                
                                
                                
                                
                                </div><!--carrosel inner END-->

                                <a class="carousel-control-prev btn btn-outline-secondary btn-custom" id="btn_prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" >
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next btn btn-outline-secondary btn-custom" id="btn_next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" >
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div> <!--carrosel END-->
                            
                        </div><!--container card-pacote END-->
                    
                    </div> <!--info cidade END-->
                </div><!--container cidade END-->

            </div><!--container de cidades END-->    
                

            
           

            
        
        












        </div><!--container END-->         
    </div><!--div largura da pagina END-->
   
    


{% endblock %}

{% block extraJS %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="public/assets/js/carrosel.js"></script>
 
{% endblock %}