{% extends './shared/__template.html.twig' %}

{% block extraHead %}{% endblock %}

{% block title %}Home{% endblock %}

{% block main %}
<!-- hero -->
            <div
              style="
                max-width: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              "
            >
              <h1>Site de viagens</h1>
              <p>
                Nos forneceremos a melhor experiencia possível em sua viagem
                <br />
                "Quer fazer a viagem dos seus sonhos? Venha conosco. Nos
                fornecemos o melhor experiência possível em sua viagem dos
                sonhos"
              </p>
            </div>
        </nav>

        <!-- Navbar End -->
        <div class="hero-image">
            <div class="container" style="
                      color: white;
                      font-family: 'Poppins', sans-serif;
                      max-width: 70%;
                    ">
                <div class="container">
                    <br><br><br><br><br><br>
                    <h1>Site de viagens</h1>
                    <p>
                        Nos forneceremos a melhor experiencia possível em sua viagem
                        <br /> "Quer fazer a viagem dos seus sonhos? Venha conosco. Nos fornecemos o melhor experiência possível em sua viagem dos sonhos"
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-text"></div>
        </div>
        <!-- Hero End -->
<div class="container container-custom" style="max-width: 70%">
  <div class="row g-5">
    <div class="col">
      <img src="./src/img/placeholder-05.jpg" class="img-fluid" />
      <p style="padding: 1rem 0rem">
        Em nossos pacotes nos abrangemos os mais variados preços, para assim
        caber em seu bolso. E varias formas de locomoções como: avião, navio,
        trem, entre outros. E por ultimo reservamos pacotes com estadias em
        hotéis ou em casa, sempre visando a melhor experiência possível em sua
        viajem dos sonhos
      </p>
    </div>
    <div class="col">
      <h2>Lugares</h2>
      <p>
        Nos trabalhos com viagens ao redor do mundo todo, com diferentes tipos
        de transportes
      </p>
      <img src="./src/img/placeholder-06.jpg" class="img-fluid" />
    </div>
  </div>


  
    <h1>Veja algums pacotes</h1>

    <div class="card_pacotes">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
        </div>
      </div>
    <div>

    
    
  

















  <div class="container container-custom">
    <h1>Ainda está com dúvida para onde ir?</h1>
    <div class="row" style="justify-content: space-evenly">
      <div class="col-10">
        <p>
          Veja os paises mais populares, abaixo
        </p>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-dark btn-custom"
          onclick="showHideTripForms()"
        >
          Lorem
        </button>
      </div>
    </div>
    <br />
    <div class="cards-container-container">
        <div class="row row-cols-3 row gx-1 row gy-3" style="max-width: 670px">
          <div class="col">
            <a href="#card1" onclick="desc('pais1')">
              <div class="card-container">
                <div class="card" id="pais1">
                  <h2>pais1</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais2')">
              <div class="card-container">
                <div class="card" id="pais2">
                  <h2>pais2</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais3')">
              <div class="card-container">
                <div class="card" id="pais3">
                  <h2>pais3</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais4')">
              <div class="card-container">
                <div class="card" id="pais4">
                  <h2>pais4</h2>
                  <p>saiba mais</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col" onclick="desc('pais5')">
            <a href="#card1">
              <div class="card-container">
                <div class="card" id="pais5">
                  <h2>pais5</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais6')">
              <div class="card-container">
                <div class="card" id="pais6">
                  <h2>pais6</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais7')">
              <div class="card-container">
                <div class="card" id="pais7">
                  <h2>pais7</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais8')">
              <div class="card-container">
                <div class="card" id="pais8">
                  <h2>pais8</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>

          <div class="col">
            <a href="#card1" onclick="desc('pais9')">
              <div class="card-container">
                <div class="card" id="pais9">
                  <h2>pais9</h2>
                  <p>saiba mais</p>
                </div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="descricao_paises" style="display: none">
      <div class="row row-cols-3">
        <div class="col" id="card1">
          <div class="grid-container mx-auto">
            <div
              class="img_desc"
              style="
                background-image: url('./src/img/imgs_descricoes/hong_kong.jpg');
                background-size: cover;
                background-position: center;
              "
            ></div>
            <h3 class="nome_cidade"></h3>
            <p class="descricao">
            </p>

            <button
              type="button"
              class="btn btn-dark btn-custom btn-transparent-custom"
            >
              SAIBA MAIS
            </button>
          </div>
        </div>
        <div class="col" id="card2">
          <div class="grid-container">
            <div
              class="img_desc"
              style="
                background-image: url('./src/img/bangkok1.jpg');
                background-size: cover;
                background-position: center;
              "
            ></div>
            <h3 class="nome_cidade">sao paulo</h3>
            <p class="descricao">
            </p>

            <button
              type="button"
              class="btn btn-dark btn-custom btn-transparent-custom"
            >
              SAIBA MAIS
            </button>
          </div>
        </div>
        <div class="col" id="card3">
          <div class="grid-container">
            <div
              class="img_desc"
              style="
                background-image: url('./src/img/bangkok1.jpg');
                background-size: cover;
                background-position: center;
              "
            ></div>
            <h3 class="nome_cidade">salvador</h3>
            <p class="descricao">
            </p>

            <button
              type="button"
              class="btn btn-dark btn-custom btn-transparent-custom"
            >
              SAIBA MAIS
            </button>
          </div>
        </div>
      </div>
    </div>
<div class="footer-image">
  <div
    class="container"
    style="color: white; font-family: 'Poppins', sans-serif; max-width: 70%"
  >
    <div class="container">
      <div class="text-center" style="padding: 8rem 0rem 4rem 0rem">
        <h1>Lorem ipsum dolor sit, amet consectetur</h1>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="text-center">
        <h3>Lorem ipsum dolor</h3>
        <h5>0000-0000</h5>
      </div>
    </div>
  </div>
</div>




{% endblock %}
{% block script %}
<!-- script -->
 <script src="./public/assets/js/index.js"></script>
{% endblock %}