.login {
    min-height: 96vh;
  }
  
  .bg-image {
    background-image: url('../img/placeholder-01.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    border-radius: 0;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }


  .input-rg-cnpj, .input-pj, #div-pj {
    display: none;
  }

.erroLogin {
  background: #c82a2a;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}


#oculto {
    display: none;
  }
