.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display";
    font-weight: bold;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #181818;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    /* color of the scroll thumb */
    /* roundness of the scroll thumb */
    /*border: 1px solid rgb(0, 0, 0);*/
    /* creates padding around scroll thumb */
}

main {
  min-height: 100vh;
}

.navbar-custom {
    background-color: #ffffff00;
    justify-content: space-between;
    width: 100%;
    /* position: fixed;
  z-index: 999; */
}

.container-custom {
    padding: 5rem 0rem;
}

.grid-container {
    padding: 2rem 0rem;
}

.grid-container img {
    max-height: 395px;
}

.btn-transparent-custom {
    background-color: #ffffff00;
    color: black;
    border-style: none none solid none;
    padding: 0.4rem;
}

.btn-custom {
    border-radius: 0rem;
}

.main-container,
.content-container {
    padding: 3rem 0rem;
}

.footer-custom {
    background-color: #fff;
    color: #000;
}

.footer-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/placeholder-footer.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.formCities {
    display: block;
}

.displayCities {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid rgba(39,41,43,0.1);
}

/* Button page up */

#botao {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 140px;
  right: 50px;
  bottom: 50px;
  position: fixed;
  z-index: 999;
  border-color: black;
}

/* animações dos paises*/

.cards-container-container{
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 50px 0;
  width: 700px;
  height: 700px;
  margin-left: auto;
  margin-right: auto; 
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 200px;
}

.card {
 
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 2px solid #ffffff;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.5s ease-in-out;
}


.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card:hover {
  filter: none;
}

.card:hover > .card-wrapper::before {
  height: 265px;
  width: 265px;
  opacity: 1;
}

.card:hover > .card-wrapper p{
  opacity: 1;
  visibility: visible;
  font-size: 14px;
}

/* imagens dos cards*/

.card-container #pais1{
  background-image: url(../img/bangkok1.jpg);
}

.card-container #pais2 {
  background-image: url(../img/dubai1.jpg);
}

.card-container #pais3 {
  background-image: url(../img/istanbul1.jpg);
}
.card-container #pais4{
  background-image: url(../img/bangkok1.jpg);
}

.card-container #pais5 {
  background-image: url(../img/dubai1.jpg);
}

.card-container #pais6 {
  background-image: url(../img/istanbul1.jpg);
}
.card-container #pais7{
  background-image: url(../img/bangkok1.jpg);
}

.card-container #pais8 {
  background-image: url(../img/dubai1.jpg);
}

.card-container #pais9 {
  background-image: url(../img/istanbul1.jpg);
}

.img_desc, .descricao{
  height: 400px;
  width: 300px;
}


/*cards pacotes*/

.card_pacote{
  width: 15rem; 
  height: 25rem;
  border-radius:0;
  
  border: 1px ridge rgb(233, 230, 230);

}

/*card pais lista*/
.card-lista{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nome_pais{
  font-size: 40px;

}

.info-pais{
  margin-bottom: 40px;
}

/*teste*/
*{
  box-shadow:  inset 0 0 2px rgba(255, 0 ,0, 0.8);
}



