body {
    background-image: url(../img/placeholder-01.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-y: top;
}

.form-disabled{
    display: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000
}


.labels {
    font-size: 12px
}
