body {
    background-image: url(../img/placeholder-01.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-y: top;
}

.form-disabled{
    display: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #000
}

.border-custom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.labels {
    font-size: 14px
}
