<!-- Navbar Zone -->
<nav style="width: 100%;" class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid" >
    <a href="/" class="navbar-brand">
        Travel Dreams 
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Página Principal</a>
            <a href="#" class="nav-item nav-link">Lista dos Páises</a>
        </div>
    </div>
    <!-- login section -->
    <div class="nav-login-section d-flex">
        <div class="loginBtn">
            <a href="/login">
                <button
                    type="button"
                    class="btn btn-outline-dark btn-custom"
                >
                    Entrar
                </button>
            </a>
        </div>
        &nbsp;
        <div class="cadastrarBtn">
            <a href="/cadastrar">
                <button
                    type="button"
                    class="btn btn-outline-dark btn-custom"
                >
                    Cadastrar
                </button>
            </a>
        </div>
    </div>
</div>
</nav>

<!-- Navbar End -->